# Основные зависимости
Django==4.2.7
djangorestframework==3.14.0
gunicorn==21.2.0

# Базы данных
psycopg2-binary==2.9.9
redis==5.0.1

# Асинхронные задачи
celery==5.3.6

# Безопасность
python-dotenv==1.0.0
bcrypt==4.0.1

# Утилиты
requests==2.31.0
Pillow==10.1.0